.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.top-buffer {
  margin-top:20px;
}
.player-active {
	background-color: #bf00ff;
	color: #fff;
}
html, body {
  height: 100%;
}
#screen2 {
  height: 100%;
  width: 100%;
}
#nav-row {
  padding: 0;
  background-color: black;
  height: 88%;
}
#nav-pane {
  border-right: 4px solid purple;
}
#nav-buttons {
  list-style-type: none;
  padding: 0;
  margin-top: 40%;
  font-family: "Lucida Sans Unicode";
  font-size: 380%;
  color: white;
}
.hover:hover {
  color: purple;
}
