.slider {
	margin-top: 1%;
	-webkit-appearance: none;
	width: 90%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: #bf00ff;
}

.slider::-moz-range-thumb {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: #bf00ff;
}

.top-buffer {
	margin-top: 20px;
}

.player-active {
	background-color: #bf00ff;
	color: #fff;
}

html, body {
	height: 100%;
}

#bottom-buttons {
	height: 16%;
	position: fixed;
	bottom: 0%;
	left: 0%;
	width: 100%;
	background-color: #333333;
}

#screen2 {
	height: 100%;
	width: 100%;
}

#nav-row {
	padding: 0;
	background-color: black;
	height: 88%;
}

#nav-pane {
	background-color: #222222;
}

#nav-buttons {
	list-style-type: none;
	padding: 0;
	margin-top: 40%;
	margin-left: 8%;
}

.hover {
	color: white;
	transition: color .5s;
}

.hover:hover {
	color: #5D007F;
	cursor: pointer;
}

.song-view {
	border: 1px solid white;
	padding: 1%;
	border-radius: 25px;
	background-color: #bf00ff;
	color: white;
}

.addbtns {
	height: 40%;
	width: 40%;
}

.widget {
	display: none;
}

#playlists, #library, #search {
	display: none;
}

#song-searcher {
	width: 80%;
}

#play-place {
	position: fixed;
	top: 0%;
	right: 0%;
	width: 91.6666667%;
	height: 84%;
	overflow-y: scroll;
}

.header-text {
	color: white;
}

#current-song {
	color: white;
	position: fixed;
	bottom: 0%;
	left: 0%;
	right: 33%;
	height: 10.5%;
	line-height: 0.5em;
	pointer-events: none;
}

.logo-image {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 3em;
}