.card {
  background-color: white;
  width: 30%;

}

.card_form {
  text-align: center;

}

body {
  background-color: black;
}

.vertical-padding {
  top: 40px;
}

html {
  background-color: black;
}
.control-label {
  text-align: left;
}
